body {
    margin: 0;
    background-color: #000000;
    overflow: hidden;
}

#menu a {
    position: absolute;
    right: 0;
    width: 35px;
    z-index: 1;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    color: white;
    text-decoration: none;
}

#menu-button {
    top: 5px;
    background-color: rgba(89, 89, 89, 0.52);
}

#alert-mode > div {
    margin-top: 50px;
}

.mouse-pointer {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    left: 0;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}